

body {background-color: white; 
    background-image: url("bg_3229.png");
    background-repeat: no-repeat;
    background-position:center center ;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
     font-family:Arial, Helvetica, sans-serif}

h1{color: black;margin: 0%; margin-bottom: 4%; margin-left: 2%; }

h2 { text-align: left; display: contents;}

p {font-size: 18px;
    margin-top: 90px;
    margin-right: 90px;
    font-size: 16px;
    
   }



.contenedor{margin: 0 auto;
     width: 80%;
      border:1px solid black;
       margin-top: 0%; 
       margin-bottom: 0%;}

.header img{width: 100%;}

.content{color: black; 
    background-color: rgba(255, 255, 255, 0.5); }

.personaje{width: 100%;
    align-content: center;
     display: flex;
      margin-top: 2%; 
    margin: 2%;
margin-bottom: 0;}
      
      
.personaje img {border-radius: 50%; float: left; width:40%;}

.personaje p {width: 100%; margin: 20px; margin-right: 50px; justify-content: center;}
.footer { background-image: url("footer.jpg");
     height: 150px; 
     background-position: center; 
      background-repeat: no-repeat;}